<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = current_user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      Signed in as: <strong><%= current_user.email %></strong>
      <!-- User should see all his/her items -->
      <%= render( {partial: "items/form", locals: {item: @item}} )%>
      <ul>
      <%= render partial: "items/item", collection: @items %>
      </ul>
    </div>
  </div>
</div>
